# Ignore Python virtual environments
vbackend/
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment and dependency files
.Python
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Ignore system files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/